*,
::before,
::after {
    box-sizing: border-box;
}

h1{
    padding-top: 0.2em;
    font-size: 3rem;
    background: -webkit-linear-gradient(#B1A5D9, #9BB0E0,#F55A5A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0;
}

.title {
    border-style: solid;
    border-width: 2px;
    padding-bottom: 1em;
    border-image: linear-gradient(#F55A5A, #B1A5D9,#9BB0E0) 30;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

section {
    background-color: #1F2937;
    max-width: 550px;
    height: 550px;
    margin: auto;
}

header {
padding-top: 0;
width: 100%;
height: 8vh;
display: flex;
justify-content: space-evenly;
align-items: center;
}

/* COLOR-PICKER BOX */
.selected-color {
    width: 61px;
    height: 42px;
    border: 0.5px solid #D1D5DB;
    }

/* VALUES DROPBOX */
#scheme-picker{
    width: 312px;
    height: 40px;
    color: #D1D5DB;
    background-color: transparent !important;
    border-color: #D1D5DB;
    border-radius: 6px;
    font-weight: 300;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

#btn {
 width: 123px;
 height: 40px;
 background-color: #3D4B60;
 color: #FFFFFF;
 border: none;
 border-radius: 2px;
 font-size: 0.75rem;
 cursor: pointer;
}

/* COLOR CONTAINER */
.color-container {
    display: flex;
    flex-direction: row;
    height: 56vh;
    width: 100%;
    background-color: #3D4B60;
}

.color {
    width: 100%;
}

#color-seed {
    background: #F55A5A;
}

#color-1 {
    background: #2B283A;
}

#color-2 {
    background: #FBF3AB; 
}

#color-3 {
    background: #AAD1B6;
}

#color-4 {
    background: #A626D3;
}

/* HEX CONTAINER */
.hex-codes {
    display: flex;
    background: #3D4B60;
    width: 100%;
    color: #D5D4D8;
}

.hex {
    width: 20%;
    text-align: center;
    margin: 0.3125em;
}