*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

section {
    background-color: #1F2937;
    max-width: 550px;
    height: 550px;
    margin: auto;
}

header {
margin: 1.25em 0;
width: 550px;
height: 90px;
display: flex;
justify-content: space-evenly;
align-items: center;
}


/* COLOR-PICKER BOX */
.color-picker {
    width: 61px;
    height: 42px;
    border: 0.5px solid #D1D5DB;
    }


/* VALUES DROPBOX */
#scheme-picker{
    width: 312px;
    height: 40px;
    color: #D1D5DB;
    background-color: transparent !important;
    border-color: #D1D5DB;
    border-radius: 6px;
    font-weight: 300;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.btn {
 width: 123px;
 height: 40px;
 background-color: #3D4B60;
 color: #FFFFFF;
 border: none;
 border-radius: 2px;
 font-size: 0.75rem;
 cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.colors{
    height: 416px;
}